<%= form_for ([@storage, uploaded_file]) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    add a file....
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= submit_tag "Upload" %>
  </div>

  <%= image_tag(@uploaded_file.image_url.to_s) %>
<% end %>