<h2><%= @storage.name %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= uploaded_file.name %></td>
        <td><%= uploaded_file.size %></td>
        <td><%= uploaded_file.description %></td>
        <td><%= link_to 'Delete File', [@storage, uploaded_file], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Upload File", new_storage_uploaded_file_path(@storage) %> | <%= link_to 'Back', storages_path %>
<hr>
<%= link_to "Close", root_path %>

