<h2><%= @storage.name %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>File Size</th>
      <th>Created At</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= uploaded_file.name %></td>
        <td><%= (uploaded_file.size / (1024.0 * 1024.0)).round(2)  %> MB</td>
        <td><%= uploaded_file.created_at.strftime("%F") %></td>
        <td><%= link_to 'Preview', [@storage, uploaded_file]%></td>
        <td><%= link_to 'Delete', [@storage, uploaded_file], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Upload File", new_storage_uploaded_file_path(@storage) %> | <%= link_to 'Back', storages_path %>
<hr>
<%= link_to "Close", root_path %>

