<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uploaded_file.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @uploaded_file.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @uploaded_file.description %>
</p>

<p>
  <strong>Unique url:</strong>
  <%= @uploaded_file.unique_url %>
</p>

<%= link_to 'Edit', edit_uploaded_file_path(@uploaded_file) %> |
<%= link_to 'Back', uploaded_files_path %>
