<div class="breadcrumbs">
  <%= link_to 'home', root_path %> >> <%= link_to 'storages', storages_path %> >> <%= link_to @storage.name, storage_uploaded_files_path(@storage) %> >> <%= @uploaded_file.name %>
</div>

<div class="container">
  <div class="row">
    <br><br>
  </div>
  <div class="row">
    <div class="image-thumb col-sm">
      <%= image_tag(@uploaded_file.image_url(:thumb).to_s, class:"img-responsive", :alt => "no image available") if  @uploaded_file.image?  %>
    </div>
    <div class="col-sm">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th>File Name</th>
          <td><%= @uploaded_file.name %></td>
        </tr>
        <tr>
          <th>Uploaded at</th>
          <td><%= @uploaded_file.created_at.strftime("%F") %></td>
        </tr>
        <tr>
          <th>File size</th>
          <td><%= (@uploaded_file.size / (1024.0 * 1024.0)).round(2) %> MB</td>
        </tr>
        </tbody>
      </table>
      <%= link_to 'Download', download_file_storage_uploaded_file_path(@storage) , :class=>"buttonLink btn-sm"%>
    </div>
  </div>
</div>
<h2>Share Your File</h2>
  <%= form_tag (share_file_path) do %>
    <%= text_field_tag(:email, value = nil, options = {placeholder: "share@with.me", class: "text_input_fields uploadedFileView "})%>
    <%= hidden_field_tag :storage_id, @storage.id %>
    <%= hidden_field_tag :uploaded_file_id, @uploaded_file.id %>
    <%= submit_tag "Share" %>
  <% end %>


