<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@uploaded_file.image_url(:thumb).to_s) if  @uploaded_file.image? %>
  <br>
  <b><%= @uploaded_file.name %></b> | <%= @uploaded_file.created_at.strftime("%F") %>
</p>

<%= link_to 'Download', "#{@uploaded_file.image}" %>
<%= link_to 'Back', storage_uploaded_files_path(@storage) %>
