<div class="breadcrumbs">
  <%= link_to 'home', root_path %> >> <%= link_to 'my storages', storages_path %> >> <%= @storage.name %>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <p class="text_input_fields storage_input" >Add file to <%= @storage.name %> storage</p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <%= link_to "Add File", new_storage_uploaded_file_path(@storage), :class=>"buttonLink"%>
      </div>
    </div>
  </div>


