<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Storage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container-fluid'>
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <% unless user_signed_in? || current_page?('/') %>
        <div class="new_user_modal">
          <%= render 'layouts/messages'%>
          <%= yield %>
        </div>
      <% else %>
        <%= render 'layouts/messages'%>
        <%= yield %>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
