<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Storage</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body class='container-fluid' >
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <% unless (current_page?('/profile') || current_page?('/'))%>
        <div class="new_user_modal">
          <%= render 'layouts/messages'%>
          <%= yield %>
        </div>
      <% else %>
        <div class="loggedInSection">
          <%= render 'layouts/messages'%>
          <%= yield %>
        </div>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
