<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Storage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container-fluid'>
    <%= render 'layouts/header' %>
    <hr>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <hr>
    <%= render 'layouts/footer' %>
  </body>
</html>
